@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #333333;
  font-family: Raleway;
  font-weight: 400;
  background-color: #f9f9f9;
}

a {
  color: inherit;
  text-decoration: none;
}

.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container{
  align-self: center;
  min-width: 78%;
  height: 100vh;
  margin-bottom: 50px;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
}

.categories{
  display: flex;
  justify-content: center;
}

.category-button{
  width: 150px;
  text-transform: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 12px;
}

.items{
  display: flex;
  margin: 20px auto auto auto !important;
  justify-content: center;
}

.items-item{
  border-radius: 3px;
  border: solid 1px #D9D9D9;
  padding: 0px !important;
  width: 400px !important;
}

.items-item-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 2px 2px 0px 0px;
  border-bottom: #407C86 solid 2px;
}

.items-item-name{
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  margin: 0px 5px 3px 5px !important;
}
.items-item-address{
  font-size: 16px !important;
  line-height: 20px !important;
  margin: 0px 5px 5px 5px !important;
}
.items-item-price{
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  margin: 0px 5px 5px 5px !important;
  color: #407C86;
}

@media (max-width: 430px) {
  .items-item{
    width: 90% !important;
  }
  .items-item-img{
    height: 200px;
  }
}





/*  Slug page CSS */
.slug{
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;

  overflow-y: hidden;
}

.s-img{
  width: 75%;
  filter: blur(15px) brightness(70%);
  -webkit-filter: blur(15px) brightness(70%);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(1.05);
  position: absolute;
  z-index: 0;
}

.s-img-container{
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.s-img-sub-container{
  width: 100%;
  height: 100%;

}

.s-img-link{
  width: fit-content;
  display:flex;
  margin: 10px 0px 0px 20px;
}

.s-img-close{
  color: #f9f9f9;
  font-size: 50px !important;
}
.s-img-close:hover{
  color: #f9f9f9df;
  transition: ease-in 0.2s;
}
.s-img-close:not(:hover){
  transition: ease-in-out 0.2s;
}

.mySwiper{
  height: 90%;
}
.swiper-slide{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: auto;
}
.swiper-slide-img{
  max-width: 100%;
}


.swiper-button-prev, .swiper-button-next{
  color: #f9f9f9 !important;
}


.s-text{
  width: 25%;
  height: 100vh;
  background-color: #f9f9f9;
  z-index: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.s-text-name{
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
}

.s-text-category{
  color: #407C86;
  text-decoration: underline;
  width:fit-content;
}

.s-text-link{
  width: fit-content;
  display:flex;
}

.s-text-price{
  color: #407C86;
  font-size: 22px !important;
  font-weight: 500 !important;
  margin: 5px 0px 8px 0px !important;
}

.s-text-details{
  /* height: 300px; */
  
}
/* For expandable details */
.gradient-text{
  background: linear-gradient(to bottom, black, rgb(95, 95, 95));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hide-button{
  display: none !important;
}

.slug-text-desc-button{
  width: 120px;
  text-transform: none !important;
  margin-top: 20px !important;
}

.slug-map{
  width: 100%;
  height: 250px;
}

.map-container{
  height: 250px;
  margin-top: 30px;
}

@media (max-width: 900px) {
  .slug{
    overflow-y: auto !important;
    flex-direction: column;
    height: auto !important;
  }

  .s-img{
    width: 100% !important;
    transform: none !important;
  }
  .s-text{
    width: 100% !important;
    height: auto !important;
  }
  .s-img-container{
    width: 100% !important;
    height: 90vh !important;
  }
}