@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #333333;
  font-family: Raleway;
  font-weight: 400;
  background-color: #f9f9f9;
}

a {
  color: inherit;
  text-decoration: none;
}

.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container{
  align-self: center;
  min-width: 78%;
  height: 100vh;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
}

.categories{
  display: flex;
  justify-content: center;
}

.category-button{
  width: 150px;
  text-transform: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 12px;
}

.items{
  display: flex;
  margin: 20px auto auto auto !important;
  justify-content: center;
}

.items-item{
  border-radius: 3px;
  border: solid 1px #D9D9D9;
  padding: 0px !important;
  width: 400px !important;
}

.items-item-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 2px 2px 0px 0px;
  border-bottom: #407C86 solid 2px;
}

.items-item-name{
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  margin: 0px 5px 3px 5px !important;
}
.items-item-address{
  font-size: 16px !important;
  line-height: 20px !important;
  margin: 0px 5px 5px 5px !important;
}
.items-item-price{
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  margin: 0px 5px 5px 5px !important;
  color: #407C86;
}

@media (max-width: 430px) {
  .items-item{
    width: 90% !important;
  }
  .items-item-img{
    height: 200px;
  }
}